@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Saira+Condensed:wght@400;700&display=swap');

        * {
            margin:0;
            padding:0;
            box-sizing: border-box;
        }

        body {
            background-color: #e2e4e7;
            font-family: 'Inter', sans-serif;
            color:#221814;
        }

        header {
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)), url(img/header-img-mobiili2.jpg);
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
            height:700px;
            width:100%;
            display:flex;
            align-items:start;
            justify-content: space-between;
            z-index: 1;
        }   

        .logo img {
            max-width:200px;
            width:100%;
            margin-top:30px;
            margin-left:30px;
            float:left;
        }

        nav {
            position:relative;
        }

          .hamburger-menu, .hide {
            display: none;
        }

        nav ul {
            list-style: none;
            margin:30px 30px 0px 0px;
            padding:0;
            display:flex;
        }

        nav ul li {
            display:block;
            margin: 0px 20px;
        }

        nav a {
            color:#e5e3d7;
            font-size:1.2rem;
            letter-spacing: 2px;
            text-decoration: none;
            transition-duration: 350ms;
        }

        nav a:hover {
            color:#dbe279;
            border-bottom:3px solid #dbe279;
            padding-bottom:10px;
            transition-duration: 350ms;
        }

        section {
            background-image:url(img/header-text-transition.png);
            background-repeat: repeat-x;
            margin-top:-340px;
            padding-top:240px;
            z-index: 2;
            min-height:500px;
        }

        .content {
            width:70%;
            margin:0 auto;
            font-size:1.1em;
            line-height:2em;
            text-shadow:0px 0px 2px rgba(0,0,0,0.2);
        }

        .content-full, .content-full-tuotteet {
            width:100%;
            background:#ccd1d8;
        }

        .content-full-tuotteet {
            margin:50px 0px 0px 0px;
        }

        
        h2 {
            color:#a44816;
            font-family:"Saira Condensed", sans-serif;
            text-transform: uppercase;
            font-size:2.7rem;
            text-align: center;
            letter-spacing: 0.1em;
            text-shadow: 2px 2px rgba(0,0,0,0.2);
            margin:0;
            padding-bottom:20px;
        }

        h3 {
            font-family:'Saira Condensed', sans-serif;
            text-transform: uppercase;
            font-size:2.3em;
            color:#2d3336;
        }

        .content-full h3,
        .content-full-tuotteet h3 {
            margin-top:-20px;
            position:absolute;
            padding-bottom:30px;
        }

        .teksti {
            width:70%;
            text-align: center;
            margin:0 auto;
            opacity:0.7;
            letter-spacing:0.05em;
            font-weight:500;
        }

        .etusivukuvakkeet {
            display:flex;
            max-width:100%;
            justify-content: center;
            gap:30px;
            margin-top:30px;
        }

        .pikkukuva {
            position:relative;
            display:inline-block;
            overflow: hidden;
        }

        .pikkukuva::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
            pointer-events: none;
        }

        .pikkukuva-teksti {            
            font-family:"Saira Condensed", sans-serif;
            text-transform: uppercase;
            font-size:2rem;
            font-weight:800;
            text-align: center;
            letter-spacing: 0.1em;
            text-shadow: 2px 2px rgba(0,0,0,0.2);
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-bottom:20px;
            z-index: 1;
            background: none;
        }

        .pikkukuva a {
            color:#e5e3d7;
            text-decoration: none;
        }

        .pikkukuva img {
            flex:1;
            max-width:100%;
            height:auto;
            object-fit:cover;
            display:block;
            width:100%;
            height:auto;
        }        


        /*ruutin lisäys alla esittelysivua varten*/
        .esittely {
            margin: auto;
            padding: 20px
        }
        
        .esittely-container {
            background-color: #d3d0bc;
            display: flex;
            justify-content: center;
            gap: 10px;
        }
        
        .esittelykuva img {
            flex:1;
            max-width:50%;
            height:auto;
            object-fit:cover;
            display:block;
            width:100%;
            height:auto;
        }
        
        .esittelyteksti {
            flex: 1;
        }
        /*Ruutin lisäys loppuu*/

        footer a {
            color:#dbe279;
            text-decoration: none;
            transition: 0.5s;
        }

        footer a:hover {
            transition: 0.5s;
            color:#e5e3d7;
            text-decoration: underline;
        }

        footer .yla {
            content:"";
            margin-top:50px;
            background-image:url(img/footer.png);
            height:100px;
            background-position: center bottom;
            background-repeat: no-repeat;
            width:100%;
            background-size: cover;
        }

        footer .bg {
            background-color: #292d23;
            min-height:200px;
        }

        footer .content1, footer .content2 {
            color:#e5e3d7;
            width:70%;
            margin:auto;
            display: flex;
            justify-content: space-between;
            align-content: stretch;
        }

        footer .content1 {
            align-items: stretch;
            margin-bottom:50px;
            padding-top:20px;
        }

        footer .content2 {
            align-items: flex-end;
        }

        footer h1 {
            color:#dbe279;
            font-size:1.5em;
            text-shadow: none;
            letter-spacing: 0.2em;
            text-align: left;
            padding-bottom:20px;
        }

        footer img.logo {
            max-width:200px;
            width:100%;
        }

        footer .asiakaspalvelu, footer .logo {
            line-height:1.5em;
        }

        footer .linkit ul, footer .some-linkit ul {
            list-style: none;
            padding:0;
            display:flex;
            flex-direction: row;
            gap:30px;
            margin-bottom:50px;
        }

        footer .linkit a {
            text-decoration: none;
            transition-duration: 350ms;
        }

        footer img.some {
            height:70px;
            transition:0.7s;
        }

        footer img.some:hover {
            transition:0.7s;
            opacity:0.6;
        }


        .tuotekuvakkeet {
            display:flex;
            flex-wrap: wrap;
            max-width:100%;
            justify-content:baseline;
            position:inherit;
            gap:30px;
            padding:70px 0px;
        }

        .tuotekuva {
            display:inline-block;
            overflow: hidden;
            flex:calc(100% / 4 - 30px); /* 3 kuvaa per rivi, miinustetaan gap */
        }        

        .tuotekuva img {
            height:auto;
            object-fit:cover;
            display:block;
            width:100%;
            border-radius:10px;
        }       

        .tuotekuva-teksti {            
            font-size:120%;
            text-align: left;
            line-height:2rem;
            width: 100%;
            padding-top:10px;
        }

        .tuotekuva strong {
            text-transform: uppercase;
            letter-spacing:0.3rem;
        }

        .tuotekuva .hinta {
            color:#a44816;
            font-weight:700;
            font-size:110%;
            line-height:3rem;
        }

        .tuotekuva .tuotenappi {
            clear:both;
            display:inline-block;
            border:0;
            border-radius:10px;
            padding:8px 17px;
            font-size:80%;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-weight:700;
            background-color: #2d3336;
            color:#e2e4e7;
            transition-duration:350ms;
        }

        .tuotekuva .tuotenappi:hover {
            transition-duration:350ms;
            background-color:#a44816
        }

        .tuotekuva a {
            color:#e5e3d7;
            text-decoration: none;
        } 
